* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#root {
  width: 500px;
}
#root > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
